.HideCompletedTodos {
    width: 220px;
    background-color: #FF6A3D;
    box-shadow: 0px 5px 25px rgba(247, 86, 23, 0.863);
    border: none;
    cursor: pointer;
    border-radius: 20px;
    font-size: 20px;
    position: fixed;
    bottom: 94px;
    left: 24px;
    color: #FAFAFA;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(0);
    transition: .3s ease;
    padding: 10px 20px;
    font-weight: bolder;
  }
  
  .HideCompletedTodos:hover {
    transform: rotate(5deg);
  }

